/*  Example styles for consistency and layout */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#project-details {
    padding: 2em;
    text-align: left; /* Align text to the left */
}

#project-details h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.portfolio-item h3 a {
    color: #000;  /* Or any color that contrasts well */
}

.image-gallery {
    display: flex;          /* Use flexbox for horizontal arrangement */
    flex-wrap: wrap;       /* Allow images to wrap to the next line */
    justify-content: center; /* Center images horizontally */
    margin-bottom: 1em;
}

.image-gallery img {
    max-width: 45%;          /* Adjust as needed */
    height: auto;
    border-radius: 5px;
    margin: 0.25em;        /* Add some spacing around the images */
}
